<h4><%= t('blacklight.welcome') %></h4>
<p>&nbsp;</p>
<p>Blacklight, a plugin bult over RoR, sits above Solr (an Apache library which is used for indexing/searching) and provides faceted searching, browsing and tailored views on objects.<br/><br/>
The indexing that is done right now is an example of how a publication house would index its books.
&nbsp;&nbsp;&nbsp;</p>
<p>Our Catalog will be based on the following but not limited to:<br/>
<ul>
<li>Music artifacts, Union Memberships, Music digital supply chain, and other stakeholders</li>
<li>Schema.org, music ontology, etc</li>
<li>ISNI, VIAF, MusicBrainz, etc.</li>
<li>Geonames, Wikidata (Freebase), DBpedia, etc</li>
<li> WorldCat OCLC </li>
<li>Artists' social profile, youtube, lastfm, etc </li>
</ul>
</p>
<% #Creates a bit space in the page -%>

